* {
  box-sizing: border-box;
}

header {
  border-bottom: 4px solid #e3d9d7;
  text-align: center;
}

header-text {
  font-size: 50px;
}

nav {
  width: 50%;
  max-width: 300px;
  height: 50px;
}

nav > ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding-inline-start: 0;
  margin-block: 0;
  height: 100%;
}

nav > ul > li {
  margin: 0 0.2rem;
  padding: 0.2rem;
  display: block;
}

nav > ul > li:hover {
  background-color: #e3d9d7;
  color: #1b1b32;
  cursor: pointer;
}

li > a {
  color: inherit;
  text-decoration: none;
}

body {
  margin: 10%;
  font-family: Courier;
  background: #fa3;
}

main {
  background-color: #fad34a;
  padding: 5px;
}

img {
  width: 50%;
  max-width: 800px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

figcaption {
  margin: auto;
  
}

#image {
  
  display: box;
  width: 100%;
  max-width: 800px;
  height: auto;
  object-fit: cover;
}

ul {
  width: 80%;
}

